<header><h2>Login</h2></header>

<section>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="large-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix radius">Email</span>
          </div>
          <div class="small-9 columns">
            <%= f.email_field :email, label: false, placeholder: "user@example.com", autofocus: true %>
          </div>
          <% if flash[:error] =~ /email/ %>
            <small class="error medium input-text error">
              can't be blank
            </small>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix radius">Password</span>
          </div>
          <div class="small-6 columns">
            <%= f.password_field :password, label: false, placeholder: "********", autofocus: true, autocomplete: "off" %>
          </div>
          <div class="small-3 columns">
            <%= f.submit "Login", class: "button postfix" %>
          </div>
          <% if flash[:error] =~ /password/ %>
            <small class="error medium input-text error">
              can't be blank
            </small>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %> 
        <% end -%>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="small-6 columns">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
