<section>
  <%= form_tag action: :create do %>
    <%= label_tag :name, 'Tag Name: ' %>
    <%= text_field_tag :name %>
    <%= hidden_field_tag :id, @id %>
    <br>
    <%= submit_tag "Tag" %>
  <% end %>
</section>
