<h1><%= t('.title', chapter: @chapter.title) %></h1> 
<%= render "layouts/slogan" %>
<section>
  <%= form_for @tag do |f| %>
    <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix radius"><%= t('tags.tags') %></span>
      </div>
      <div class="small-7 columns">
        <%= f.text_field :name, label: false, placeholder: t('.hint') %>
      </div>
      <%= f.hidden_field :chapter_id, value: @chapter.id %>
      <div class="small-2 columns">
        <%= f.submit t('add'), class: "button postfix" %>
      </div>
    </div>
  <% end %>
</section>
