<section>
  <%= form_tag action: :create do %>
    <%= label_tag :manga, 'Manga Name: ' %>
    <%= text_field_tag :manga %>
    <br>
    <%= label_tag :number, 'Chapter Number: ' %>
    <%= text_field_tag :number %>
    <br>
    <%= submit_tag "Add" %>
  <% end %>
</section>
