<section>
  <h1><%= t('.title') %></h1>
  <%= render "layouts/slogan" %>

  <%= form_for(@chapter) do |f| %>
  <div class="startHidden"> 
    <div class="row">
      <div class="large-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix radius">
              <%= t(:manga).capitalize %>
            </span>
          </div>
          <div class="small-9 columns">
          <%= f.text_field :manga, label: false, placeholder: t('abbreviations.exempli_gratia') + " 'Barefoot Gen'" %>
          </div>
          <% if flash[:error] =~ /manga/ %>
          <small class="error medium input-text error">
            <%= t('error.blank') %>
          </small>
          <% end %>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="row collapse">
          <div class="small-3 columns">
            <span class="prefix radius">
              <%= t('abbreviations.chapter').capitalize %> #
            </span>
          </div>
          <div class="small-9 columns">
          <%= f.text_field :number, label: false, placeholder: t('abbreviations.exempli_gratia') + " '123'" %>
          </div>
          <% if flash[:error] =~ /number/ %>
          <small class="error medium input-text error">
            <%= t('error.blank') %>
          </small>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-3 columns">
      <span class="prefix radius">
        <%= t(:image_url) %>
      </span>
    </div>
    <div class="small-7 columns">
    <%= f.url_field :image_url, label: false, placeholder: t('placeholders.image_url') %>
    </div>
    <div class="small-2 columns">
    <%= f.submit "Add", class: "button postfix" %>
    </div>
  </div>
  <% end %>
</section>
