<% chap = @chapter %>
<section>
  <div class="row">
    <div class="medium-7 large-9 columns">
      <%= render 'layouts/chapter', chap: chap, type: 'full' %> 
    </div>
    <div class="medium-5 large-3 columns">
      <div class="chapter box narrow">
        <div class="crow">
          <h2>BakaUpdates Profile</h2>
        </div>
        <div class="crow">
          <h4><%= @chapter.manga %></h4>
        </div>
        <div class="crow">
          <h5>Genres</h5>
          <p>
            <%= @dashboard[:genres].map {|genre| %>
              <% "<a href=\"/tags/#{Tag.tagify(genre)}\">#{genre}</a>" %> 
            <% }.join(', ').html_safe %>
          </p>
        </div>
        <div class="crow">
          <h5>Description</h5>
          <p>
            <%= @dashboard[:description][0...140] + '...' %>
          </p>
        </div>
        <div class="crow">
          <h5>Scanlators</h5>
          <p>
            <%= @dashboard[:scanlators].map {|scanlator| %>
              <% "<a href=\"#{scanlator[:uri]}\">#{scanlator[:name]}</a>" %> 
            <% }.join(', ').html_safe %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
