<section>
  <div class="row">
    <div class="medium-7 large-9 columns">
    <%= render 'layouts/chapter', chap: @chapter, type: 'full' %> 
    </div>
    <div class="medium-5 large-3 columns">
      <div class="chapter box narrow">
        <div class="crow">
          <h2>BakaUpdates Profile</h2>
        </div>
        <div class="crow">
          <h4><%= @dashboard.title %></h4>
        </div>
        <div class="crow">
          <h5>Genres</h5>
          <p>
          <%= @dashboard.genres.map {|genre| %>
            <% link_to genre, "/tags/#{Tag.tagify(genre)}" %> 
          <% }.join(', ').html_safe %>
          </p>
        </div>
        <div class="crow">
          <h5>Description</h5>
          <p>
          <%= link_to BU.absolute_url(@dashboard.url) do %>
            <%= @dashboard.description[0...140] + '...' %>
          <% end %>
          </p>
        </div>
        <div class="crow">
          <h5>Scanlators</h5>
          <p>
          <%= @dashboard.scanlators.map {|scanlator| %>
            <% link_to scanlator[:name], scanlator[:uri] %> 
          <% }.join(', ').html_safe %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
