<div class="masonry-container transitions-enabled centered has-gutters infinite-scroll clearfix">
  <% if @page <= 1 %>
    <div class="chapter box col2">
      <div class="crow">
        <h3><%= link_to "#all_tags", '/tags' %>           </h3>
        <h3><%= link_to "#pop_tags", '/tags/popular' %>   </h3>
        <h3><%= link_to "#trend_tags", '/tags/trending' %></h3>
      </div>
    </div>
  <% end %>

  <% @tags.each do |tag| %>
    <%= link_to "/tags/#{tag.name}" do %>
      <% users = tag.users.length %>
      <% chapters = tag.chapters.length %>
      <% col_size = 2 %>
      <% col_size += 1 if chapters >= 10 %>
      <% col_size += 1 if chapters >= 10 %>
      <% col_size += 1 if users >= 50 %>
      <% col_size += 1 if users >= 50 %>
      <div class="chapter box normal col<%= col_size %>">
        <div class="crow">
          <h3 class="link"><%= tag %></h3>
        </div>
        <div class="row">
          <div class="crow small-6 columns">
            <h6>chapters:</h6> 
            <p class="crow counter"><%= chapters %></p>
          </div>
          <div class="crow small-6 columns">
            <h6>followers:</h6> 
            <p class="counter"><%= users %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<nav id="page-nav">
  <% if @page %>
    <%= link_to 'more', "/tags/#{params[:action]}/#{@page + 1}" %>
  <% end %>
</nav>
