<div class="masonry-container transitions-enabled centered has-gutters infinite-scroll clearfix">
  <div class="chapter box col2">
    <div class="crow">
      <h3><%= link_to t(:all_tags), tags_path %></h3>
      <h3><%= link_to t(:popular_tags), popular_tags_path %></h3>
      <h3><%= link_to t(:trending_tags), trending_tags_path %></h3>
    </div>
  </div>

  <% @tags.each do |tag| %>
    <%= link_to tag_path(tag.name) do %>
      <% users = tag.users.length %>
      <% chapters = tag.chapters.length %>
      <% col_size = 2 %>
      <% col_size += 1 if chapters >= 10 %>
      <% col_size += 1 if chapters >= 10 %>
      <% col_size += 1 if users >= 50 %>
      <% col_size += 1 if users >= 50 %>
      <div class="chapter box normal col<%= col_size %>">
        <div class="crow">
          <h3 class="link"><%= tag %></h3>
        </div>
        <div class="row">
          <div class="crow small-6 columns">
            <h6><%= t(:chapter, count: 2) %>:</h6> 
            <p class="crow counter"><%= chapters %></p>
          </div>
          <div class="crow small-6 columns">
            <h6><%= t(:follower, count: 2) %>:</h6> 
            <p class="counter"><%= users %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<nav id="page-nav">
  <% if @page %>
    <%= link_to 'more', { controller: params[:controller], action: params[:action], page: @page + 1} %>
  <% end %>
</nav>
