<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "mangam" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="row">
      <div class="large-12 columns">
        <div class="sticky fixed">
          <nav class="top-bar" data-topbar="">
            <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                <%= link_to root_path, class: "name logo" do %>
                  <h1>mangam</h1>
                  <%= image_tag asset_path("mangam-logo.png") %>
                <% end %>         
              </li>
              <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
              <li class="toggle-topbar menu-icon">
                <a href="#"></a>
              </li>
            </ul>


            <section class="top-bar-section">

              <!-- Right Nav Section -->
              <ul class="right">
                <li class="divider hide-for-small"></li>
                <li>
                  <%= link_to "popular", "/chapters/popular" %>
                </li>
                <% if signed_in? %>
                  <li class="divider hide-for-small"></li>
                  <li>
                    <%= link_to "add chapter", "/chapters/add" %>
                  </li>
                  <li class="divider hide-for-small"></li>
                  <li>
                    <%= link_to "logout", "/logout", method: :delete %>
                  </li>
                <% else %>
                  <li class="divider hide-for-small"></li>
                  <li><%= link_to "login", "/login" %></li>
                  <li class="divider hide-for-small"></li>
                  <li><%= link_to "signup", "/signup" %></li>
                <% end %>
              </ul>
            </section>
          </nav>
        </div>
      </div>
    </div>
    
    <div class="row">
      <%= render 'layouts/main' %>
    </div>      
  </body>
</html>
