<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "mangam" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <nav class="top-bar hide-for-small">
      <ul class="title-area">
        <li>
          <%= link_to root_path, class: "name logo" do %>
            <h1>mangam</h1>
            <%= image_tag asset_path("mangam-logo.png") %>
          <% end %>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li>
            <%= link_to "popular", "/chapters/popular" %>
          </li>
          <% if signed_in? %>
            <li class="divider"></li>
            <li>
              <%= link_to "add chapter", "/chapters/add" %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to "logout", "/logout", method: :delete %>
            </li>
          <% else %>
            <li class="divider"></li>
            <li><%= link_to "login", "/login" %></li>
            <li class="divider"></li>
            <li><%= link_to "signup", "/signup" %></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <nav class="show-for-small">
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
          <nav class="tab-bar">
            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
              <div class="title">
                <%= link_to root_path, class: "name logo" do %>
                  <h1 >mangam</h1>
                  <%= image_tag asset_path("mangam-logo.png") %>
                <% end %>
              </div>
            </section>

          </nav>

          <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
              <li><label>mangam</label></li>
              <li><%= link_to "popular", "/chapters/popular" %></li>
              <% if signed_in? %>
                <li>
                  <%= link_to "add chapter", "/chapters/add" %>
                </li>
                <li>
                  <%= link_to "logout", "/logout", method: "delete" %>
                </li>
              <% else %>
                <li><%= link_to "login", "/login" %></li>
                <li><%= link_to "signup", "/signup" %></li>
              <% end %>
            </ul>
          </aside>

          <section class="main-section">
            <div class="row">
              <%= render 'layouts/main' %>
            </div>
          </section>

          <a class="exit-off-canvas"></a>

        </div>
      </div>
    </nav>

    <div class="row hide-for-small">
      <%= render 'layouts/main' %>
    </div>      
  </body>
</html>
